#toplogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -50px; */
}
#form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.check {
  --bs-btn-bg: #00aade;
}
#activelist {
  background-color: #0d6efd;
  color: white;
}
#mainlist {
  color: black;
  margin-left: 2px;
  margin-right: 2px;
}
#caros {
  height: 300px;
}
#lastline {
  margin-bottom: -200px !important;
}
#lastbeforeline {
  margin-top: -100px !important;
}
html,
body {
  margin: 0;
}
#navvs {
  margin-top: -10px;
  width: auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#contact {
  margin-left: 10px;
  margin-right: 10px;
}
#contact div {
  margin-top: 25px;
}
#box {
  height: 100px !important;
}
#innerbox {
  position: relative;
  top: -60px;
}
#box2 {
  height: 200px !important;
}
#innerbox2 {
  position: relative;
  top: -50px;
}
#booticon {
  position: relative;
  top: -3px;
}
#widthprob {
  max-width: 100%;
}
#mainlist:hover {
  background-color: #86e5ff;
  color: black;
}
#starting {
  margin-top: 100px;
}
#footeritems:hover {
  background-color: grey;
  color: red;
  border-radius: 4px;
}
#collapseExample {
  margin-top: 10px;
}
.smallgap {
  margin-top: 10px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
